[submodule "apiextractor"]
	path = apiextractor
	url = git://github.com/PySide/Apiextractor.git
[submodule "generatorrunner"]
	path = generatorrunner
	url = git://github.com/PySide/Generatorrunner.git
[submodule "shiboken"]
	path = shiboken
	url = git://github.com/PySide/Shiboken.git
[submodule "pyside"]
	path = pyside
	url = git://github.com/PySide/PySide.git
[submodule "pyside-tools"]
	path = pyside-tools
	url = git://github.com/PySide/Tools.git
