[submodule "apiextractor"]
	path = apiextractor
	url = https://github.com/PySide/Apiextractor.git
[submodule "generatorrunner"]
	path = generatorrunner
	url = https://github.com/PySide/Generatorrunner.git
[submodule "shiboken"]
	path = shiboken
	url = https://github.com/PySide/Shiboken.git
[submodule "pyside"]
	path = pyside
	url = https://github.com/PySide/PySide.git
[submodule "pyside-tools"]
	path = pyside-tools
	url = https://github.com/PySide/Tools.git
[submodule "mobility"]
	path = mobility
	url = https://github.com/PySide/Mobility.git
